.sidebar-container {
  background-color: #0b2d57;
  width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.company-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
  margin-top: 10px;
}

.add-btn {
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
  margin-bottom: 12px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.25);
  }
}
